{
    auto_https disable_redirects
}

https://localhost:4434 {
    atlas {
        advertise localhost:4434
        region local
        connect localhost:4444
        credentials mySecret
        db_path /tmp/atlas2/
    }
    tls internal
}
